In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset_1= pd.read_csv(r"C:\Users\SADHANA\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding="latin-1")

In [3]:
dataset_1

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [4]:
dataset_1.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [27]:
dataset_1.shape

(60943, 12)

In [6]:
# Extracting unique countries from the dataset  using the 'Area' column
unique_countries = dataset_1['Area'].unique()

# Counting the number of unique countries from the dataset
total_unique_countries = len(unique_countries)

print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

In [10]:
# Grouping the data by 'Element' and calculating the sum of 'Stock Variation' for each year
grouped_data = dataset_1.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Finding the year with the highest sum of Stock Variation
max_variation_year = grouped_data.sum(axis=0).idxmax()

print("Year with the highest sum of Stock Variation:", max_variation_year)

Year with the highest sum of Stock Variation: Y2018

In [11]:
# Grouping the data by 'Element' and calculating the sum of 'Stock Variation' for each year
grouped_data = dataset_1.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Finding the year with the highest sum of Stock Variation for each element
max_variation_year_by_element = grouped_data.idxmax(axis=1)

print("Year with the highest sum of Stock Variation for each element:")
print(max_variation_year_by_element)

Year with the highest sum of Stock Variation for each element:
Element
Domestic supply quantity                  Y2018
Export Quantity                           Y2017
Fat supply quantity (g/capita/day)        Y2018
Feed                                      Y2018
Food                                      Y2018
Food supply (kcal/capita/day)             Y2018
Food supply quantity (kg/capita/yr)       Y2014
Import Quantity                           Y2017
Losses                                    Y2018
Other uses (non-food)                     Y2017
Processing                                Y2018
Production                                Y2018
Protein supply quantity (g/capita/day)    Y2017
Residuals                                 Y2016
Seed                                      Y2018
Stock Variation                           Y2014
Total Population - Both sexes             Y2018
Tourist consumption                       Y2014
dtype: object

In [12]:
# Selecting columns 'Y2017' and 'Area'
selected_data = dataset_1[['Y2017', 'Area']]

# Performing a groupby operation on 'Area' and calculating the sum of 'Y2017' for each area
grouped_data = selected_data.groupby('Area').sum()

# Finding the area with the highest sum in 2017
area_highest_sum_2017 = grouped_data['Y2017'].idxmax()

print("Area with the highest sum in 2017:", area_highest_sum_2017)

Area with the highest sum in 2017: Nigeria

In [13]:
# Calculate the correlation between 'Element Code' and each year column
correlation_with_element_code = dataset_1[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']

# Exclude 'Element Code' from the calculation
correlation_with_element_code = correlation_with_element_code.drop('Element Code')

# Find the year with the least correlation
least_correlated_year = correlation_with_element_code.idxmin()

print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016

In [14]:
# Grouping the data by 'Element' and calculating the sum of 'Processing' in 2017
grouped_data = dataset_1[dataset_1['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()

# Extracting the total sum of 'Processing' in 2017
total_processing_2017 = grouped_data.values[0] if not grouped_data.empty else 0

print("Total sum of Processing in 2017:", total_processing_2017)

Total sum of Processing in 2017: 292836.0

In [15]:
# Extracting data for the year 2017
data_2017 = dataset_1['Y2017']

# Calculating the mean and standard deviation for the year 2017
mean_2017 = data_2017.mean()
std_dev_2017 = data_2017.std()

# Rounding the mean and standard deviation to two decimal places
mean_2017_rounded = round(mean_2017, 2)
std_dev_2017_rounded = round(std_dev_2017, 2)

print("Mean for the year 2017:", mean_2017_rounded)
print("Standard deviation for the year 2017:", std_dev_2017_rounded)

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [19]:
dataset_1['Area'].value_counts()

Kenya                          1560
Egypt                          1488
Nigeria                        1474
CÃ´te d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Malawi                         1447
Ethiopia                       1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Zimbabwe                       1393
Morocco                        1393
Mauritius                      1378
Botswana                       1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Area, dtype: int64

In [22]:
dataset_1['Element'].value_counts()

Domestic supply quantity                  5295
Import Quantity                           5139
Protein supply quantity (g/capita/day)    5023
Fat supply quantity (g/capita/day)        5023
Food supply (kcal/capita/day)             5014
Food                                      4941
Food supply quantity (kg/capita/yr)       4905
Residuals                                 4655
Export Quantity                           4403
Stock Variation                           4232
Production                                3881
Processing                                2010
Losses                                    2009
Other uses (non-food)                     1732
Feed                                      1319
Seed                                       762
Tourist consumption                        555
Total Population - Both sexes               45
Name: Element, dtype: int64

In [23]:
df=dataset_1.copy()
# Filter the dataset for Madagascar and protein supply quantity for 2015
madagascar_protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015']

# Calculate the total protein supply quantity in Madagascar in 2015
total_protein_supply_madagascar_2015 = madagascar_protein_2015.sum()

print("Total protein supply quantity in Madagascar in 2015:", total_protein_supply_madagascar_2015)

Total protein supply quantity in Madagascar in 2015: 173.04999999999998

In [24]:
# Filter the dataset for 'Wine' item
wine_data = df[df['Item'] == 'Wine']

# Group by 'Item' and calculate the sum for each year
grouped_data = wine_data.groupby('Item')[['Y2015', 'Y2018']].sum()

# Extract the total sum of wine produced in 2015 and 2018 respectively
total_wine_produced_2015 = grouped_data['Y2015'].values[0] if 'Y2015' in grouped_data.columns else 0
total_wine_produced_2018 = grouped_data['Y2018'].values[0] if 'Y2018' in grouped_data.columns else 0

print("Total sum of Wine produced in 2015:", total_wine_produced_2015)
print("Total sum of Wine produced in 2018:", total_wine_produced_2018)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

In [25]:
# Count the total number of missing values in the 'Y2014' column
missing_data_2014_count = df['Y2014'].isnull().sum()

# Calculate the total number of entries in the 'Y2014' column
total_entries_2014 = len(df['Y2014'])

# Calculate the percentage of missing data in 2014
percentage_missing_data_2014 = (missing_data_2014_count / total_entries_2014) * 100

# Round the percentage to 3 decimal places
percentage_missing_data_2014_rounded = round(percentage_missing_data_2014, 3)

print("Total number of missing data in 2014:", missing_data_2014_count)
print("Percentage of missing data in 2014:", percentage_missing_data_2014_rounded)

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607

In [28]:
# Selecting columns 'Y2017' and 'Area'
selected_data = df[['Y2017', 'Area']]

# Performing a groupby operation on 'Area' and calculating the sum for 2017
grouped_data = selected_data.groupby('Area').sum()

# Sorting the grouped data by the sum of 2017 values in ascending order
sorted_data = grouped_data.sort_values(by='Y2017')

# Finding the area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_data.iloc[6].name

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau